.conteudo {
    background: url("../assets/images/wallpaper.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.campo {
    opacity: 0.5;
}

.form {
    margin-top: 50%;
}

.error {
    background-color: red;
    opacity: 0.7;
    color: white;
}